.about {
  margin-bottom: 70px;

  &__wrapper {
    position: relative;
  }

  &__content {
    max-width: 320px;
    width: 100%;
    height: 450px;
    background-color: $dark;
    color: $light;
    position: absolute;
    padding: 45px 15px 50px 20px;
    top: -50px;
    left: -30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &::before {
      content: '';
      position: absolute;
      max-width: 300px;
      width: 100%;
      height: 450px;
      background-color: $dark;
      right: 300px;
      top: 0;
    }
  }

  &__subtitle {
    text-align: end;
    margin-bottom: 5px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    max-width: 250px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 0 10px 0 15px;
    margin-bottom: 15px;
  }

  &__btn {
    max-width: 250px;
  }
}

.about-items {
  display: flex;
  justify-content: space-between;
  padding-left: 310px;
}

.about-item {
  max-width: 250px;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px;
  border: 1px solid $dark;
  overflow: hidden;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0px 4px 10px 0px $dark;
  }

  &__num {
    font-weight: 700;
    font-size: 88px;
    color: $grey;
    text-align: end;
    margin-bottom: 15px;
  }
  
  &__title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
  }

  &__text {
    text-align: center;
  }
}

@media (max-width: 1170px) {
  .about-items {
    padding-left: 275px;
  }
}

@media (max-width: 992px) {
  .about {
    &__content {
      position: inherit;
      max-width: 75%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 20px 70px 0;
      margin: 0 auto 35px;

      &::before {
        display: none;
      }
    }

    &__text {
      max-width: 450px;
      margin: 0 auto 15px;
    }

    &__btn {
      margin: 0 auto 35px;
    }
  }
  
  .about-items {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .about  {
    &__content {
      max-width: 100%;
    }
  }

  .about-items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-item {
    margin: 15px;
    height: 305px;

    &__title {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 768px) {
  .about {
    margin-bottom: 0;
    
    &__content {
      padding: 15px;
    }
  }
}