.services {
  margin-bottom: 70px;
  
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__blocks {
    width: 60%;
  }
  
  &__items {
    display: flex;
    justify-content: space-between;

  }

  &__item:not(:last-child) {
    margin-right: 25px;
  }

  &__item {
    padding: 80px 20px 20px;
    border: 1px solid $dark;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 1.4;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 4px 10px 0px $dark;
    }

    &::before {
      content: '';
      position: absolute;
      width: 48px;
      height: 48px;
      top: 18px;
      right: calc(50% - 24px);
      background-repeat: no-repeat;
      background-position: center;
    }

    &--smart::before {
      background-image: url(../images/icons/smartphone.svg);
    }

    &--money::before {
      background-image: url(../images/icons/money.svg);
    }

    &--geo::before {
      background-image: url(../images/icons/geo.svg);
    }
  }

  &__links {
    padding-top: 90px;
  }
  
  &__link {
    font-size: 16px;
    margin: 0 20px;
    padding: 3px;
    border: 1px solid transparent;
    transition: opacity 0.3s;
    
    &:hover {
      opacity: 50%;
    }

    &:focus {
      transition: border 0.3s;
      border-bottom: 1px solid $dark;
    }
  }
}

@media (max-width: 1170px) {
  .services {
    &__wrapper {
      justify-content: center;
    }
  }  
}

@media (max-width: 992px) {
  .services {
    margin-bottom: 30px;

    &__blocks {
      width: 100%;
    }

    &__items {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      max-width: 260px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 768px) {
  .services {
    &__item {
      margin: 10px;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &__links {
      padding-top: 40px;
    }  
  }
}

@media (max-width: 576px) {
  .services {
    &__item {
      max-width: 260px;
    }

    &__link {
      margin: 20px 20px;
      display: block;
    }
  }
}